.venv/
__pycache__/
*.pyc

*.pth
*.pt
*.ckpt

*.zip

.DS_Store

.streamlit/secrets.toml

# .NET Build Output & SQLite Databases
[Bb]in/
[Oo]bj/
*.user
*.suo
*.db
*.db-journal
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep